{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/custom.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
</head>

<body>
    <div class="site-wrapper" id="top">
        {% include 'header.html' %}
        {% block main %}{% endblock main %}
    </div>
    <!--=================================
    Footer Area
    ===================================== -->
    {% include 'footer.html' %}
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>