<footer class="site-footer" style="border-top: 1px solid #e5e5e5">
    <div class="container" style="margin-top: 30px;">
        <div class="row justify-content-between  section-padding" style="padding-bottom: 0">
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="brand-footer footer-title">
                        <img src="/static/image/logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--0">
                    <div class="footer-title" >
                        <p class="fas fa-map-marker-alt"> Kharkov </p> <br>
                        <p class="fas fa-map-marker"> Pushkinskaya 79 </p> <br>
                        <p class="fas fa-phone-square"> 0955565818 </p> <br>
                        <p class="fas fa-envelope"> vladjkeee13@gmail.com </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>